
    <div class="row justify-content-md-center align-items-center justify-content-center">
  <div class="col-md-6">
    <mat-card class="padding-2rem wrapped-card">
      <form class="example-form" [formGroup]='signupForm' #f="ngForm" (ngSubmit)="userSignup(f.value)">
            <mat-form-field class="example-full-width col-md-12">
                <input matInput formControlName="firstName" type="text" placeholder="First Name" required>
                <mat-error *ngIf="getrequired('firstName').touched && getrequired('firstName').invalid">
                <mat-error *ngIf="getrequired('firstName').errors.required">First Name required
                </mat-error>
                <mat-error *ngIf="getrequired('firstName').errors.maxlength">
                    The text entered exceeds the maximum length of 255 characters
                </mat-error>
              </mat-error>
              </mat-form-field> 
              
              <mat-form-field class="example-full-width col-md-12">
                  <input matInput formControlName="lastName" type="text" placeholder="Last Name" required>
                  <mat-error *ngIf="getrequired('lastName').touched && getrequired('lastName').invalid">
                  <mat-error *ngIf="getrequired('lastName').errors.required">Last Name required
                  </mat-error>
                  <mat-error *ngIf="getrequired('lastName').errors.maxlength">
                      The text entered exceeds the maximum length of 255 characters
                  </mat-error>
                </mat-error>
                </mat-form-field> 
          
              <mat-form-field class="example-full-width col-md-12">
                <input matInput formControlName="email" type="text" placeholder="Email" required>
                <mat-error *ngIf="getrequired('email').touched && getrequired('email').invalid">
                <mat-error *ngIf="getrequired('email').errors.required">Email required
                </mat-error>
                <mat-error *ngIf="getrequired('email').errors.pattern">Please Enter Your Email Address.
                </mat-error>
                <mat-error *ngIf="getrequired('email').errors.email">
                  Please enter a valid email address
                </mat-error>
              </mat-error>
              </mat-form-field>
                <mat-form-field class="example-full-width col-md-12">
                    <input matInput formControlName="phoneNo" type="text" placeholder="Phone no" required>
                    <mat-error *ngIf="getrequired('phoneNo').touched && getrequired('phoneNo').invalid">
                    <mat-error *ngIf="getrequired('phoneNo').errors.required">Phone no. required
                    </mat-error>
                    <mat-error *ngIf="getrequired('phoneNo').errors.maxlength || getrequired('phoneNo').errors.minlength">
                        The number shoulbe include 10 numbers
                    </mat-error>
                  </mat-error>
                  </mat-form-field> 
  
                <mat-form-field class="example-full-width col-md-12">
                <input matInput
                  formControlName="password"
                  [type]="hide ? 'password' : 'text'"
                  placeholder="Password"
                  autocomplete="new-password"
                  required
                >
                <mat-icon matSuffix class="cursor-pointer" (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

                <mat-error *ngIf="getrequired('password').touched && getrequired('password').invalid"> 
                  <mat-error *ngIf="getrequired('password').errors.required">Password required
                  </mat-error>
                  <mat-error *ngIf="getrequired('password').errors.minLength">Password should be 8 characters
                  </mat-error>
                  <mat-error *ngIf="getrequired('password').errors.pattern">Password must contain at least 9 characters with one letter, special character and number and it can't start or end with a blank space.
                  </mat-error>
                </mat-error>
                </mat-form-field>
                      <mat-checkbox class="example-margin color-gray-text padding-left-1rem" formControlName="scubscribe">Subscribe to our newsetter</mat-checkbox>
                   <div class="example-button-row">
                  <button mat-raised-button  color="primary" class="width-100 cursor-pointer margin-top-05rem" [disabled]="!signupForm.valid">Sign up</button>
                </div>
            </form>
           <mat-error> {{isErrorMessage}}</mat-error>
    </mat-card>
  </div>
</div>
